# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk # primary container
      # Service dependencies documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/buildpack-deps:curl
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      IMAGE_NAME: marihak/be-neutral
      TAG: latest  # 0.1.$CIRCLE_BUILD_NUM

      # JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: "Running tests!"
          command: mvn verify -Dsurefire.useSystemClassLoader=false -Dfailsafe.useSystemClassLoader=false

      - store_test_results:
          path: target/test-results

      - store_artifacts:
          name: "Storing test results"
          path: target/test-results
          destination: test-results
      - store_artifacts:
          name: "Storing logs"
          path: logs

      - setup_remote_docker

      - run:
          name: "Building and verifying docker image"
          command: |
            docker build . -t $IMAGE_NAME:$TAG
            docker run -it -d -p 8080:8080 --name be-neutral $IMAGE_NAME:$TAG
            docker ps
            docker exec be-neutral curl --retry 10 --retry-connrefused http://localhost:8080

      - run:
          name: "Publishing docker image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            docker push $IMAGE_NAME:$TAG
