# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

parameters:
  publish-docker-image:
    type: boolean
    default: true
  image-tag:
    type: string
    default: << pipeline.git.branch >>

jobs:
  run-tests:
    docker:
      - image: circleci/openjdk:11-jdk # primary container
      # Service dependencies documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: "Running tests!"
          command: mvn verify -Dsurefire.useSystemClassLoader=false -Dfailsafe.useSystemClassLoader=false

      - store_test_results:
          path: target/test-results

      - store_artifacts:
          name: "Storing test results"
          path: target/test-results
          destination: test-results
      - store_artifacts:
          name: "Storing logs"
          path: logs

  publish-docker-image:
    environment:
      IMAGE_NAME: be-neutral
      TAG: << pipeline.parameters.image-tag >>
      # To be set outside of this file:
      # $DOCKER_USER
      # $DOCKER_PASS
    docker:
      - image: circleci/openjdk:11-jdk

    working_directory: ~/repo

    steps:
      # todo: persist artefacts in the workspace after run_tests and later re-attach here
      - checkout
      - run: mvn package -DskipTests

      - setup_remote_docker

      - run:
          name: "Building and publishing docker image"
          command: |
            IMAGE_FULL_NAME=$DOCKER_USER/$IMAGE_NAME:$TAG
            docker build . -t $IMAGE_FULL_NAME
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            docker push $IMAGE_FULL_NAME

workflows:
  version: 2
  build:
    jobs:
      - run-tests
      - publish-docker-image:
          when: << pipeline.parameters.publish-docker-image >>
          requires:
            - run-tests
          pre-steps:
            - run: export TAG="test"
      - publish-docker-image:
          when:
            equal: [ master, << pipeline.git.branch >> ]
          requires:
            - run-tests
          pre-steps:
            - run: export TAG="latest"

