body {
  color: #4a4a4a;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

.main-section {
  box-sizing: border-box;
  margin: auto;
  max-width: 960px;
  padding: 60px 40px;
  text-align: center;
  width: 100%;
}


form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 5px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}